<div class="content-image">   
    <header>
      <div class="imgs">
        <img src="assets/logo_full_color.svg" class="logo">
        <img src="assets/iconos/menu.png" class="menuimg"  (click)="openMenu()" *ngIf="menuActive">
        <img src="assets/iconos/cerrar.png" class="cerrarimg" (click)="openMenu()"  *ngIf="!menuActive">
      </div>
        <nav class="navmenu"  [ngClass]="{active: menuActive === false}">        
            <ul class="menu text-montserrat-bold">         
              <li><a [routerLink]="['/']">Inicio</a></li>
            </ul>
        </nav>        
    </header>
    <div class="hero-text">
      <h1 class="hero-header text-montserrat-extralight">Bienvenido a tu</h1>
      <h1 class="hero-header text-montserrat-extralight">
          <strong class="text-montserrat-bold">Entrevista  Técnica</strong>  
          en
        </h1>
      <h1 class="hero-header text-green text-montserrat-bold">Wolox</h1>
    </div>
    <div class="hero-login">
            <div class="loginform">          
              <div class="loginform-tittle">
                <h2>Ingresar a plataforma</h2>
              </div>
          
              <form [formGroup]="loginForm" novalidate (ngSubmit)="login(loginForm.value)">
          
                <div class="full-width">
                  <input class="input-text" type="text" placeholder="Correo" formControlName="email" required>
                  <div *ngIf="loginForm.get('email').touched && loginForm.get('email').hasError('required')" class="alert alert-danger">
                    El email es requerido
                  </div>  
                  <div *ngIf="loginForm.get('email').touched && loginForm.get('email').hasError('email')" class="alert alert-danger">
                      El email no valido
                  </div>
              </div>
          
                <div class="full-width">
                  <input  class="input-text" type="password" placeholder="Contraseña" formControlName="password" required>
                  <div *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('required')" class="alert alert-danger">
                    El password es requerido
                  </div>  
                  <div *ngIf="loginForm.get('password').touched && loginForm.get('password').hasError('minlength')" class="alert alert-danger">
                      El password debe tener al menos 8 caracteres
                  </div>  
              </div>

              <div class="full-width">
                 <label>Quiere recordar la sesion?</label>
                <input  type="checkbox" formControlName="remember" >                
               </div>
          
                <div class="loginform-button">
                  <button class="btn" type="reset">Cancel</button>
                  <button class="btn btn-blue" type="submit"  [disabled]="!loginForm.valid">Ingresar</button>
                </div>    
          
              </form>          
          </div>
   </div>    
</div>



