@font-face {
    font-family: "Montserrat Black";
    src: url("../Fonts/Montserrat/Montserrat-Black.ttf");
}
@font-face {
    font-family: "Montserrat BlackItalic";
    src: url("../Fonts/Montserrat/Montserrat-BlackItalic.ttf");
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("../Fonts/Montserrat/Montserrat-Bold.ttf");
}

@font-face {
    font-family: "Montserrat BoldItalic";
    src: url("../Fonts/Montserrat/Montserrat-BoldItalic.ttf");
}

@font-face {
    font-family: "Montserrat ExtraBold";
    src: url("../Fonts/Montserrat/Montserrat-ExtraBold.ttf");
}


@font-face {
    font-family: "Montserrat ExtraBoldItalic";
    src: url("../Fonts/Montserrat/Montserrat-ExtraBoldItalic.ttf");
}


@font-face {
    font-family: "Montserrat ExtraLight";
    src: url("../Fonts/Montserrat/Montserrat-ExtraLight.ttf");
}

@font-face {
    font-family: "Montserrat ExtraLightItalic";
    src: url("../Fonts/Montserrat/Montserrat-ExtraLightItalic.ttf");
}

@font-face {
    font-family: "Montserrat Italic";
    src: url("../Fonts/Montserrat/Montserrat-Italic.ttf");
}

@font-face {
    font-family: "Montserrat Light";
    src: url("../Fonts/Montserrat/Montserrat-Light.ttf");
}

@font-face {
    font-family: "Montserrat LightItalic";
    src: url("../Fonts/Montserrat/Montserrat-LightItalic.ttf");
}
@font-face {
    font-family: "Montserrat Medium";
    src: url("../Fonts/Montserrat/Montserrat-Medium.ttf");
}

body, html {
    height: 100%;
    margin: 0;   
    font-family: "Montserrat ExtraLight"
}
/* fornt family */

.text-montserrat-black{
    font-family: "Montserrat Black";
}
.text-montserrat-blackitalic{
    font-family: "Montserrat BlackItalic";
} 
.text-montserrat-bold {
    font-family: "Montserrat Bold";
}
.text-montserrat-bolditalic{
  font-family: "Montserrat BoldItalic";
}

.text-montserrat-extrabold {
    font-family: "Montserrat ExtraBold";
}

.text-montserrat-extrabolditalic {
    font-family: "Montserrat ExtraBoldItalic";
}
.text-montserrat-extralight{
    font-family: "Montserrat ExtraLight";
}
.text-montserrat-extralightitalic {
   font-family: "Montserrat ExtraLightItalic";
}    

.text-montserrat-italic {
    font-family: "Montserrat Italic";
}
.text-montserrat-light {
    font-family: "Montserrat Light";
}
.text-montserrat-lightitalic {
    font-family: "Montserrat LightItalic";
}
.text-montserrat-medium {
    font-family: "Montserrat Medium";
}
/*en font family*/


.content-image {
    display: flex;
    /* flex-direction: column; */
    flex-direction:row;
    flex-wrap:wrap;
    background-image:  url("../Backgrounds/Bg_Header.png");
    min-height: 15em;
    /* height: 100%; */
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
}
      
.hero-text {
    color: #000000;
}
@media (min-width: 600px) {
    .hero-text {
        text-align: left;
        width: 50%;
    }
}
@media (max-width: 600px) {
    .hero-text {
        text-align: center;
        width: 100%;
    }
}

.hero-header{
    align-self: left;
    font-size:50px;
}

.hero-image {   
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    transform: rotateY(500deg);
}

.hero-login {   
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-text h1, .woloxer-text h1{
    margin: 0;
    padding: 0;
}
.text-green{
    color: rgba(159, 199, 57);
}
.text-blue{
    color: rgb(42, 167, 223    );
}

.tex-black{
    color: #000000;
}

.content-woloxer{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;    
    width: 100%;    
    align-self: center;   
    align-items: center;
    justify-content: center;
    background-color: rgb(242, 245, 250);
}
.content-twitter{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;    
    width: 100%;   
    align-self: center;   
    align-items: center;
    justify-content: center;
}
.woloxer-image{
    width: 60%;
    height: 100%;
    background: url("../img_woloxer@2x.png") no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #ffffff;
}
.woloxer-text{
    width: 40%;
    text-align: center;    
}
strong{
    color: #000000;
}

@media (max-width: 600px) {
    .woloxer-text{
        width: 100%;
    }
    .woloxer-image{
        width: 100%;
    }
}
.content-beneficios{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;    
    width: 100%;
    align-self: center;   
    align-items: center;
    justify-content: center;
}
.beneficios-text{
    width: 100%;
    text-align: center;
    margin-bottom: 0;
}
.elemento{
    width: 15%;
    text-align: center;
    margin: 0;
}
.elemento p{
    margin: 0;
    padding: 0;
}

.elemento img{
    width: 100px;
    height: 150px;
}
@media (max-width: 600px) {
    .elemento{
        width: 50%;
    }    
}
@media (min-width: 600px) {
    .content-beneficios{
        height: 60%;
    }
}

/* footer */
.content-footer{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;    
    width: 100%;
    height: 60%;
    align-self: center;   
    align-items: center;
    justify-content: center;
    background-image:  url("../Backgrounds/Bg_Footer.png");  
    -webkit-box-shadow: 0px -8px 5px 0px rgba(241,245,250,1);
    -moz-box-shadow: 0px -8px 5px 0px rgba(241,245,250,1);
    box-shadow: 0px -8px 5px 0px rgba(241,245,250,1);
  
}
.conten-footer-text{
    text-align: center;  
    width: 100%;
}    
.content-logo{
    padding-top: 60px;
}
/* end footer */

/* botones */
.btn {    
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 30px;
    width: 250px;
    height: 50px;
    border-color: rgb(42, 167, 223 );
    font-size: 20px;
}
.btn-blue{
    background-color: rgb(42, 167, 223 );
    color: #ffffff;
}
.btn:hover {
    box-shadow: inset 0 0 20px rgba(42, 167, 223, 0.5), 0 0 20px rgba(42, 167, 223, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
}

/*end botones*/ 

/* iconos */

.ico-twitter{   
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}
.ico-twitter img{
    width: 50px;
}
.top160px{
    padding-top: 160px;
}

/* end iconos */

/* menu */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}
nav 
{
    padding: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
}
  
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: transparent;   
    
}
  
  nav li a {
    color: #000000;
    display: block;
    text-decoration: none;
    padding: .5em 1em;
    font-size: 20px;
  }
  
  nav li a:hover {
    background: #ffffff;
    color: rgb(42, 167, 223 );    
    border-color:  rgb(42, 167, 223 );
    border: 2px;
    
  }
  .logo {
      width: 200px;
  }
 
  
  /* @media-query menu */
  
  @media screen and (min-width: 680px) {
    nav ul.menu {
      display: flex;
      justify-content:flex-end;
    }
    .menuimg, .cerrarimg{
        display: none;
    }
    .navmenu{
        display: block;
    }
  }

  @media screen and (max-width:680px) {
    header{
        margin-top: 20px;
    }
    header, nav ul {
      flex-direction: column;
      text-align: center;
    }
    .menuimg, .cerrarimg{
        display: block;
        cursor: pointer;
        width: 50px;
        float: right;
    }
    .navmenu{
        display: none;
    }
    .navmenu.active{
        display: block;
    }
    .imgs{
        width: 100%;
    }
  }
  /* end menu */

  .alert-danger{
      color: red;
  }