<a class="float-idioma">
    <img src="assets/iconos/ingles.png" [ngClass]="{'active': activeLang == 'en'}" 
    (click)="cambiarLenguaje('en')" *ngIf="activeLang==='es'">
    <img src="assets/iconos/es.png" [ngClass]="{'active': activeLang == 'es'}" 
    (click)="cambiarLenguaje('es')" *ngIf="activeLang==='en'">
</a>
<div class="content-image">   
    <header>
        <div class="imgs">
            <img src="assets/logo_full_color.svg" class="logo">
            <img src="assets/iconos/menu.png" class="menuimg"  (click)="openMenu()" *ngIf="menuActive">
            <img src="assets/iconos/cerrar.png" class="cerrarimg" (click)="openMenu()"  *ngIf="!menuActive">
        </div>
        <nav class="navmenu" [ngClass]="{active: menuActive === false}">        
            <ul class="menu text-montserrat-bold">         
              <li><a [routerLink]="['/']">{{ 'opcionmenu.uno' | translate }}</a></li>
              <li><a href="#beneficios">{{ 'opcionmenu.dos' | translate }}</a></li>
              <li>
                <button *ngIf="!remember" class="btn text-blue" [routerLink]="['/login']">{{ 'opcionmenu.tres' | translate }}</button>
                <button *ngIf="remember" class="btn text-blue" [routerLink]="['/list']">{{ 'opcionmenu.cuatro' | translate }}</button>
               </li>
              <li class="idioma">
                <a>
                    <img src="assets/iconos/ingles.png" [ngClass]="{'active': activeLang == 'en'}" 
                    (click)="cambiarLenguaje('en')" *ngIf="activeLang==='es'">
                    <img src="assets/iconos/es.png" [ngClass]="{'active': activeLang == 'es'}" 
                    (click)="cambiarLenguaje('es')" *ngIf="activeLang==='en'">
                </a>
              </li>              
            </ul>
         </nav>
    </header>
    <div class="hero-text">
      <h1 class="hero-header text-montserrat-extralight">{{ 'hero-text.uno' | translate }}</h1>
      <h1 class="hero-header text-montserrat-extralight">
          <strong class="text-montserrat-bold">{{ 'hero-text.dos' | translate }}</strong>  
          {{ 'hero-text.cuatro' | translate }}
        </h1>
      <h1 class="hero-header text-green text-montserrat-bold">{{ 'hero-text.tres' | translate }}</h1>
    </div>
    <div class="hero-image">
         <img src="assets/imghero/Ic_ilustra_Hero.png">
    </div>
</div>
<div class="content-woloxer">
       <div class="woloxer-image">
            <h1 class="hero-header text-green text-montserrat-bold top160px">
                350 +
                <strong class="text-blue">
                    Woloxers
                </strong>
            </h1>
            <div class="content-twitter">
                <div class="ico-twitter">
                    <img src="assets/twitter1.png">                     
                </div>
                <h1 class="text-montserrat-extralight">                    
                    @Wolox
                </h1>                   
            </div>
            <button (click)="siguenos()" class="btn btn-siguenos">
                {{ 'woloxer.uno' | translate }}
            </button>
      </div>
      <div class="woloxer-text ">
            <h1 class="hero-header text-montserrat-light">{{ 'woloxer.dos' | translate }}</h1>
            <h1 class="hero-header text-green text-montserrat-medium">
                <strong class="text-blue ">{{ 'woloxer.tres' | translate }}</strong> 
                {{ 'woloxer.cuatro' | translate }} 
                <strong class="tex-black text-montserrat-light">{{ 'woloxer.cinco' | translate }}</strong>
            </h1>
            <h1 class="hero-header text-montserrat-light">{{ 'woloxer.seis' | translate }}</h1>
      </div>
</div>
<div class="content-beneficios text-montserrat-medium" id="beneficios">
    <div class="beneficios-text  text-montserrat-extralight">
        <h1>{{ 'benefit.title' | translate }}  <strong class="text-blue">;)</strong></h1>
    </div>
    <div class="elemento">
        <img src="assets/Ic_Hour.svg">
        <p>
            {{ 'benefit.uno' | translate }}             
        </p>  
        <p>
            {{ 'benefit.dos' | translate }}
        </p> 
   </div>
   <div class="elemento">  
        <img src="assets/Ic_HomeOffice.svg"> 
        <p>
            {{ 'benefit.tres' | translate }}
        </p> 
    </div>
   <div class="elemento">   
        <img src="assets/Ic_Workshops.svg"> 
        <p>
            {{ 'benefit.cuatro' | translate }}
        </p> 
        <p>
            {{ 'benefit.cinco' | translate }}
        </p>
   </div>
   <div class="elemento">    
        <img src="assets/Ic_DrinkSnacks.svg"> 
        <p>
            {{ 'benefit.seis' | translate }}
        </p>
        <p>
            {{ 'benefit.ciete' | translate }}
        </p>
   </div>
   <div class="elemento">    
        <img src="assets/Ic_laptop.svg"> 
        <p>
            {{ 'benefit.ocho' | translate }} 
        </p>
        <p>
            {{ 'benefit.nueve' | translate }}
        </p>
   </div>
   <div class="elemento">  
        <img src="assets/Ic_brain.svg">   
        <p>
            {{ 'benefit.diez' | translate }}
        </p>
        <p>
            {{ 'benefit.once' | translate }}
        </p>
        <p>
            {{ 'benefit.doce' | translate }}
        </p>
   </div>
</div>
<div class="content-footer">
    <div class="conten-footer-text">
        <h1 class="hero-header text-montserrat-bold">
            {{ 'footer.title.one' | translate }}
            <strong class="text-blue">
                {{ 'footer.title.dos' | translate }}
            </strong>
        </h1> 
        <h1 class="text-montserrat-extralight">
            {{ 'footer.title.tres' | translate }}
        </h1>       
        <button (click)="conocemas()" class="btn btn-blue">
            {{ 'footer.btn.one' | translate }}
        </button>
        <div class="content-logo">
            <img src="assets/Ic_Wolox_Footer.svg">
        </div>
    </div>
</div>