.btn.btn-siguenos{
    margin-bottom: 100px;
}
.float-idioma{
	position:fixed;
	width:60px;
	height:60px;
	bottom:80px;
	right:80px;
	background-color:rgb(42, 167, 223 );
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.float-idioma img{
	margin-top:10px;
	width: 50px;
}

@media (min-width: 600px) {
    .float-idioma {
        display: block;
	}
	.idioma{
		display: none;
	}
}
@media (max-width: 600px) {
    .float-idioma {
        display: none;
	}
	.idioma{
		display: block;
	}
}
