<header>
    <div class="imgs">
        <img src="assets/logo_full_color.svg" class="logo">
        <img src="assets/iconos/menu.png" class="menuimg"  (click)="openMenu()" *ngIf="menuActive">
        <img src="assets/iconos/cerrar.png" class="cerrarimg" (click)="openMenu()"  *ngIf="!menuActive">
    </div>
    <nav class="navmenu" [ngClass]="{active: menuActive === false}">        
        <ul class="menu text-montserrat-bold">         
          <li><a [routerLink]="['/']">Inicio</a></li>
          <li >
              <button  class="btn text-blue" (click)="closeSesion()">Cerrar sesion</button>
          </li>
        </ul>
     </nav>
</header>
<div class="content-tecnologia text-montserrat-medium" >
    <div class="beneficios-text  text-montserrat-extralight">
        <h1>Nuestras Tecnologías <strong class="text-blue">;)</strong></h1>
    </div> 
    <div class="content-search  text-montserrat-extralight">
        <h1>Busca la tecnoligía <strong class="text-blue">;)</strong></h1>
        <form [formGroup]="searchForm" (ngChange)="search(searchForm.value)" class="searchForm"> 
            <input  formControlName="work" >   
            <select formControlName="typeSearch">
                <option [value]="1" >Nombre</option>
                <option [value]="2">Tipo de tecnología</option>
            </select>
            <img src="assets/iconos/flecha-abajo.png" (click)="oderDeccendente()"> 
            <img src="assets/iconos/flecha-arriba.png" (click)="oderAccendente()">   
        </form>
    </div>    
    <div class="elemento-tect"  *ngFor="let herramienta of herramientas; index as i">     
        <div class="cara1" *ngIf="!herramienta.show">
            <img src="{{herramienta.logo }}">
            <div class="container">
                <h4><b>{{ herramienta.tech }}</b></h4>         
            </div> 
            <a (click)="showContent(i)">leer más</a>    
        </div>
        <div class="cara2" *ngIf="herramienta.show">
            <a (click)="hideContent(i)">atrás</a>    
            <div class="container">
                <h4>Lenguaje <b>{{ herramienta.language }}</b></h4>
                <h4>Licencia <b>{{ herramienta.license }}</b></h4>   
                <h4>Tipo <b>{{ herramienta.type }}</b></h4>   
                <h4>Año <b>{{ herramienta.year }}</b></h4>            
            </div>   
        </div>    
    </div> 
    <div class="content-search ">
        <h4>Total<strong class="text-blue">  {{ total }}  ;)</strong></h4>
    </div>
</div>

