.content-tecnologia{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;    
    width: 100%;
    height: 60%;
    align-self: center;   
    align-items: center;
    justify-content: center;
}

.elemento-tect {
    width: 30%;
    text-align: center;
    margin: 5px;
    -webkit-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 26px 0px rgba(0,0,0,0.75);
    transition: 0.3s;
    border-radius: 5px;
}

@media (max-width: 600px) {
  .elemento-tect {
      width: 50%;
  }    
}
  
  .elemento-tect:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .elemento-tect img {
    border-radius: 5px 5px 0 0;
    width: 150px;
    height: 150px;
  }
  
  .elemento-tect .container {
    padding: 2px 16px;
  }

  .cara1, .cara2{
      padding: 15px;    
  }

  .content-search{
    width: 100%;
    text-align: center;
    margin: 10px;
}

.searchForm img{
    width: 20px;
    cursor: pointer;
}
input, select{
  border-bottom: 1px solid #ccc;
  padding: 8px;
}